.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
mat-horizontal-stepper {
  width: 90%;
  height: auto;
  border-radius: 10px;
  min-height: 600px;
}
.menuContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
img {
  width: 100%;
  height: 150px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.additionPic {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  white-space: nowrap;
}
mat-card {
  margin: 10px;
  padding: 0px;
  width: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: auto;
}
.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 32px;
  min-height: 28px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  top: -20px;
  right: -22px;
}
.badge {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 15px;
  top: -30px;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: -14px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(124, 29, 3);
  background: linear-gradient(
    184deg,
    rgb(246, 111, 74) 0%,
    rgba(240, 250, 121, 1) 100%
  );
}
.badge2 {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  color: white;
  height: 70px;
  text-align: center;
  background: rgb(2, 0, 36);
  line-height: 23px;
  top: -30px;
  margin-right: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.additionsList {
  display: flex;
  flex-wrap: wrap;
}
.additionTitle {
  font-size: 1.5rem;
}
mat-list-option img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
mat-list-option {
  height: 100% !important;
  width: 152px !important;
}
// mat-selection-list{
//   display: flex;
//   flex-wrap: wrap;
// }
.additionslst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height:100%;
}
mat-divider {
  margin: 50px;
}
.btnBar {
  display: flex;
  justify-content: center;
}
.btnBar button {
  font-size: 30px;
  width: 400px;
  height: 50px;
}
.payment {
  display: flex;
  height: 900px;
  width: 100%;
  flex-direction: column;
}
.bb,
.gb {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isscard {
  width: 300px;
  height: 150px;
  border: 1px solid;
  font-family: "Rubik";
  background: #67a9f6;
  border-radius: 10px;
  text-align: center;
}
.content {
  display: flex;
  width: 96%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.issCardData {
  text-align: right;
  display: flex;
  justify-content: center;
}

.titlewww {
  width: 100%;
  text-align: right;
  padding: 5px;
  letter-spacing: 0.3pt;
  font-size: 51%;
}

.wwid span {
  color: #0072c6;
  font-size: 34px;
}
.titlewww2 {
  width: 100%;

  padding: 5px;
  letter-spacing: 0.3pt;
  display: flex;
  justify-content: space-between;
}

.blackbar {
  width: 100px;
  background: black;
  height: 22px;
}

.isslogo {
  padding-left: 40px;
  font-size: 28%;
  height: 40px;
  font-weight: bold;
}
.priceC{
  margin-top: 35px !important;
}

.isslogo img {
  height: 30px;
  width: 30px;
}

.blueBadge {
  border: 1px solid;
  width: 176px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  border-radius: 8px;
}
.intelLogo img {
  width: 140px;
  height: 100px;
  margin-top: 10px;
}
.human img {
  width: 45%;
  height: 100px;
}
.human {
  background: #0171c5;
  height: 100px;
  text-align: center;
}
mat-form-field {
  width: 140px;
  text-align: left;
}
.mat-form-field-infix {
  text-align: left;
}
.basket {
  width: 90%;
  border-radius: 7px;
  height: 200px;
}
.basketItems > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 150px;
  margin: 30px;
  font-size: 22px;
}
.basketItems {
  display: flex;
}
.price {
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 20px;
  background: #673ab74d;
  padding: 5px;
  border-radius: 50%;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-17 12:44:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.fav mat-list-option {
  margin: 12px;
  background: #97d3ff;
  padding: 5px;
  border-radius: 11px;
  color: black;
  width: 230px !important;
  font-size: 24px;
  min-height: 62px !important;
}
.header mat-card {
  width: 967px;
  /* margin: auto; */
  height: 63px;
  display: flex;
  justify-content: flex-end;
}
.header button {
  margin: 10px;
}
.tt :first-child {
  text-align: right;
}
.tt{
  white-space: nowrap;
}
.brd mat-list-option {
  margin: 12px;
  background: #ffb77c;
  padding: 5px;
  border-radius: 11px;
  color: black;
  width: 230px !important;
  font-size: 24px;
}
.imgFix img {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}
.imgFix {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
// .imgFix > * {
//   height: 62px !important;
// }
.fav mat-selection-list {
  display: flex;
  flex-wrap: wrap;
}
.mat-list-item-content {
  height: 60px;
}
.favHeight mat-list-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.favHeight mat-list-option > * {
  width: 100%;
}
.borderIt {
  border: 3px solid green;
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.animFav {
  -webkit-animation: shadow-drop-2-center 0.3s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: all 0.5s;
}
.dev ::before {
  content: ".";
  background: red;
}
.dev ::after {
  content: ".";
  background: red;
}
hr {
  border: none;
  border-left: 6px dotted #f24479;
  height: 100vh;
  width: 1px;
}
.basket img {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 7px;

  right: 7px;
  opacity: 0.4;
}
.zoom {
  position: absolute;
  z-index: 9999;
  width: 28px;
  height: 28px;
  left: 4px;
  top: 4px;
}
.choose {
  position: absolute;
  right: 10px;
  bottom: 17px;
}
.clickArea {
  position: absolute;
  margin-top: -100px;
  width: 100%;
  height: 67%;
}
.taOptions{
  display: flex;
  justify-content: space-around;
  font-size: 34px;
  margin-bottom: 20px;
}
.about {
  position: absolute;
  bottom: 20px;
  font-weight: 400;
  text-align: center;
}
